.leaflet-cluster-spider-leg {
  /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
  -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
  -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
  -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
  transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

.marker-cluster-small {
  background-color: rgb(163, 163, 163);
}
.marker-cluster-small div {
  background-color: rgb(252, 252, 252);
}

.marker-cluster-medium {
  background-color: rgb(95, 95, 95);
}
.marker-cluster-medium div {
  background-color: rgb(252, 252, 252);
}

.marker-cluster-large {
  background-color: rgb(39, 39, 39);
}
.marker-cluster-large div {
  background-color: rgb(252, 252, 252);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: rgb(163, 163, 163);
}
.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(252, 252, 252);
}

.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(95, 95, 95);
}
.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(252, 252, 252);
}

.leaflet-oldie .marker-cluster-large {
  background-color: rgb(39, 39, 39);
}
.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(252, 252, 252);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;

  word-wrap: break-word;
  overflow: hidden;
}
.marker-cluster div:hover {
  word-wrap: normal;
  overflow: visible;
}
.marker-cluster span {
  line-height: 30px;
}
